sudo: required
services:
  - docker

env:
  COMPOSE_VERSION: 1.4.1

before_install:
 - curl -sSL https://get.docker.com/ | sudo sh
 - sudo pip install docker-compose
 - cp docker-compose.yml docker-compose_tmpl.yml
 - cp Dockerfile_web Dockerfile_web_tmpl
 - cp Dockerfile_shinyr Dockerfile_shinyr_tmpl
 - grep -vi proxy docker-compose_tmpl.yml > docker-compose.yml
 - grep -vi proxy Dockerfile_web_tmpl > Dockerfile_web
 - grep -vi proxy Dockerfile_shinyr_tmpl > Dockerfile_shinyr

script:
  - docker-compose build
  - docker-compose up -d
  - docker-compose ps
  - manage.py test
  #- docker exec -it kaka_web_1 ./manage.py syncdb
  #- docker exec -it kaka_web_1 psql -h db -U postgres -f data/init/onto.sql
    #docker exec -it kaka_web_1 ./manage.py runscript seafood_load_tree;

notifications:
  irc:
    channels:
      - "irc.freenode.org#inasafe"
    use_notice: true

  email:
    - helge.dzierzon@plantandfood.co.nz
    - badi.james@plantandfood.co.nz
