# Database Server
# Software: PostGreSQL
# You can reconfigure the port in case you

db:
  image: postgres
  volumes:
    - .:/dat
  ports:
    - "5434:5432"
  environment:
     - dummy:dummy
     - http_proxy:http://proxy.pfr.co.nz:8080
     - https_proxy:http://proxy.pfr.co.nz:8080
     - no_proxy:localhost,127.0.0.1,*.pfr.co.nz,::1
# cassandra:
    # image: cassandra
    # ports:
        # - "7000:7000"
    # environment:
        # - dummy:dummy
        # - http_proxy:http://proxy.pfr.co.nz:8080
        # - https_proxy:http://proxy.pfr.co.nz:8080
        # - no_proxy:web,localhost,127.0.0.1,*.pfr.co.nz,::1
web:
  build: .
  dockerfile: Dockerfile_web
  command: python manage.py runserver 0.0.0.0:80
  volumes:
    - .:/code
    #- /input:/input
    #- /output:/output
    #- /workspace:/workspace
  ports:
    - "8000:80"
  links:
    - db
    - cassandra
  environment:
     - dummy:dummy
     - http_proxy:http://proxy.pfr.co.nz:8080
     - https_proxy:http://proxy.pfr.co.nz:8080
     - no_proxy:localhost,127.0.0.1,*.pfr.co.nz,::1
#shinyr:
#  build: .
#  dockerfile: Dockerfile_shinyr
#  volumes:
#    - ./shinyapps/kaka/seafood:/srv/shiny-server/seafood
#    - ./shinyapps/kaka/genotype:/srv/shiny-server/genotype
#    - /srv/shinylog/:/var/log/
#  links:
#    - web
#  ports:
#    - "3839:3838"
#  environment:
#     - dummy:dummy
#     - http_proxy:http://proxy.pfr.co.nz:8080
#     - https_proxy:http://proxy.pfr.co.nz:8080
#     - no_proxy:web,localhost,127.0.0.1,*.pfr.co.nz,::1
#kea:
#  build: .
#  dockerfile: Dockerfile_kea
#  environment:
#     - dummy:dummy
#     - http_proxy:http://proxy.pfr.co.nz:8080
#     - https_proxy:http://proxy.pfr.co.nz:8080
#     - no_proxy:web,localhost,127.0.0.1,*.pfr.co.nz,::1

#pyrat:
#  image: cfljam/pyrat
#  volumes:
#    - /input:/input
#    - /output:/output
#    - /workspace:/workspace
#  ports:
#    - "8889:8888"
#  links:
#    - web
#  environment:
#     - dummy:dummy
#     - http_proxy:http://proxy.pfr.co.nz:8080
#     - https_proxy:http://proxy.pfr.co.nz:8080
#     - no_proxy:localhost,127.0.0.1,*.pfr.co.nz,::1
#mongo:
#  image: mongo
#cassandra:
#  image: cassandra
#  environment:
#     - dummy:dummy
#     - http_proxy:http://proxy.pfr.co.nz:8080
#     - https_proxy:http://proxy.pfr.co.nz:8080
#     - no_proxy:localhost,127.0.0.1,*.pfr.co.nz,::1
rstudio:
  build: .
  dockerfile: Dockerfile_rstudio
#  volumes:
#    - /input:/input
#    - /output:/output
#    - /workspace:/workspace
  links:
    - web
  ports:
     - "8788:8787"
  environment:
     - dummy:dummy
     - http_proxy:http://proxy.pfr.co.nz:8080
     - https_proxy:http://proxy.pfr.co.nz:8080
     - no_proxy:localhost,127.0.0.1,*.pfr.co.nz,::1
#anaconda:
#  image: continuumio/anaconda
#  volumes:
#    - /input:/input
#    - /output:/output
#    - /workspace:/workspace 
#  links:
#    - web
#  ports:
#    - "8890:8888"
#  environment:
#     - http_proxy:http://proxy.pfr.co.nz:8080
#     - https_proxy:http://proxy.pfr.co.nz:8080
#     - no_proxy:localhost,127.0.0.1,*.pfr.co.nz,::1

