{% load inplace_edit %}

<html>
       <head>
          <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
          <script src="//code.jquery.com/jquery-1.10.2.js"></script>
          <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

           {% inplace_toolbar %} {% comment %} or inplace_static {% endcomment %}
       </head>
       <body>


           <div id="content">
              {% block content %}

               {% inplace_edit "user.username" %}

               {% endblock %}
           </div>

       </body>
   </html>







