h1, p, label, .clean_font {
    font-family: Arial
}
/* table, th, tr {
    border: 2px solid green;
    border-collapse: collapse;
    font-family: Arial
} */

.search_field {
    max-width: 800px;
    min-width: 275px;
    width: 100%;
}

div.search_field {
    min-width: 593px;
}

input.search_input {
    float: right;
    width: 75%;
}

select.search_input {
    float: right;
}
.search_input#id_from_date_month {
    margin-right: 51.5%
}
.search_input#id_to_date_month {
    margin-right: 51.5%
}

